<input type="hidden">
<i class="dropdown icon"></i>
<div class="default text" data-bind="text: context.text || context.selected || context.defaultText"></div>
<div class="menu" data-bind="foreach: context.data">
    <!-- ko if: $data.go -->
        <div class="item" data-bind="click: $data.go">
            <!-- ko if: $data.icon -->
                <i data-bind="attr: {'class': 'icon ' + $data.icon}"></i>
            <!-- /ko -->
            <!-- ko text: $data.name --><!-- /ko -->
        </div>
    <!-- /ko -->
    <!-- ko ifnot: $data.go -->
    <div class="item" data-bind="text: $data"></div>
    <!-- /ko -->
</div>
<!--
context.data[$index() | 0]-->
