<input type="hidden" />
<div class="default text" data-bind="text: context.text || context.selected || context.defaultText"></div>
<i class="dropdown icon"></i>
<div class="menu" data-bind="foreach: context.options">
    <!-- ko if: typeof $data === "object" -->
    <div class="item" data-bind="click: $data.go || $.noop">
        <!-- ko if: $data.icon -->
        <i data-bind="attr: {'class': 'icon ' + $data.icon}"></i>
        <!-- /ko -->
        <!-- ko text: $data.text --><!-- /ko -->
    </div>
    <!-- /ko -->
    <!-- ko if: typeof $data === "string" -->
    <div class="item" data-bind="text: $rawData"></div>
    <!-- /ko -->
</div>
